$WHITE: #f9f9f9;
$GRAY_LIGHT: #e2e2e2;
$GRAY: #b2b2b2;
$GRAY_DARK: #3a3a3a;
$BLACK: #151515;

$RED: #ff3030;
$RED_LIGHT: #ffacac;

$YELLOW: #ffd330;
$YELLOW_LIGHT: #ffffac;

$GREEN: #30ff31;
$GREEN_LIGHT: #acffad;

$BLUE: #3095ff;
$BLUE_LIGHT: #acffff;

$PURPLE: #970db5;
$PURPLE_LIGHT: #ffe5ff;
$PURPLE_DARK: #1b0039;
