@use "shared/style/colors" as c;
@use "shared/style/mixins" as *;

.Page {
  width: 100%;
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Title {
  @include HEADING_2();

  color: c.$GRAY_DARK;
}
