@use "shared/style/colors" as c;
@use "shared/style/mixins" as *;

.Columns {
  width: 100%;
  height: 100%;
  padding: 25px 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 25px;
}
