@use "shared/style/colors" as c;
@use "shared/style/mixins" as *;

.Wrapper {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: c.$GRAY_LIGHT;
  border: 1px solid c.$GRAY;
  border-radius: 25px;
  width: 100%;
}

.Title {
  @include HEADING_3();

  color: c.$GRAY_DARK;
}

.List {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
