@use "shared/style/colors" as c;
@use "shared/style/mixins" as *;

.Wrapper {
  padding: 25px;
  background: c.$GRAY_LIGHT;
  border: 1px solid c.$GRAY;
  box-shadow: 0 0 10px c.$GRAY;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Button {
  @include BODY_1();

  color: c.$GRAY_DARK;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.25s;
  background: c.$GRAY_LIGHT;
  border: 1px solid c.$GRAY_LIGHT;
  padding: 10px 15px;
  border-radius: 10px;
  width: max-content;

  &:hover {
    background: c.$WHITE;
    border-color: c.$GRAY;
  }

  & span {
    font-size: 30px;
  }
}

.List {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.Empty {
  @include HEADING_3();

  color: c.$GRAY_DARK;
  text-align: center;
}
